@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Volo.Abp.AspNetCore.Mvc.UI
@addTagHelper *, Volo.Abp.AspNetCore.Mvc.UI.Bootstrap
@addTagHelper *, Volo.Abp.AspNetCore.Mvc.UI.Bundling

@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@model web_backend.HttpApi.Host.Pages.Account.CustomLogoutModel

@inject IHtmlLocalizer<AccountResource> L
@inject IThemeManager ThemeManager

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card vss-login-card">
            <!-- Logo -->
            <img class="vss-img" src="/images/varsitylogoempty.jpg" alt="VSS Logo" />
            <h4>@L["Logout"]</h4>

            <div class="card-body" style="text-align:center;">
                @if (Model.ShowLogoutPrompt)
                {
                    <form method="post">
                        <p>@L["AreYouSureToLogout"]</p>
                        <div class="d-grid gap-2">
                            <abp-button button-type="Primary" type="submit" name="action" value="Logout" class="mt-2 mb-3 vss-submit-button">
                                <i class="fas fa-sign-out-alt"></i> @L["Logout"]
                            </abp-button>
                            <abp-button button-type="Secondary" name="action" value="Cancel" class="mb-3">
                                @L["Cancel"]
                            </abp-button>
                        </div>
                    </form>
                }
                else
                {
                    <div>
                        <div class="alert alert-success">
                            <h5>@L["LoggedOut"]</h5>
                            <p>@L["YouHaveSuccessfullyLoggedOut"]</p>
                        </div>
                        <div class="d-grid gap-2">
                            <a href="@(Model.ReturnUrl ?? "/")" class="btn btn-primary mt-2 mb-3 vss-submit-button">
                                <i class="fas fa-home"></i> @L["BackToHomePage"]
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
